body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

/* font-family: 'Montserrat', sans-serif; 
font-family: 'Raleway', sans-serif;*/

ul {
    list-style: none;
}

/* header*/
/*Company logo*/

.header-company-logo1 {
    color: #2196F3;
}

.header-company-logo2 {
    color: black;
}

.header-company-logo1,
.header-company-logo2 {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/*navigation in pages*/

.navigation-link {
    text-decoration: none;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*contacts*/

.header-contacts{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-contacts:hover, 
.header-contacts:focus,
.navigation-link:hover,
.navigation-link:focus{
    color: #2196F3;
}

.header {
    background-color: #FFFFFF;
}

/* main section */

.main-title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: white;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase
}

.main-title-section{
    background-color: #2F303A;
}

 /* Button */

.main-button{
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 50px;
    background: #2196F3;;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;    
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 4px;
}

/* specialisation of company */

.specialisation-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
}

.specialisation-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* titles team & our-work */

.title-team,
.work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;    
}

.team{
    background-color: #F5F4FA;
}

/* our team  */

.person-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.person-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;    
    color: #757575;
}

/* portfolio */

.button{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;    
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border: none;
    border-radius: 4px;
}

.button:hover,
.button:focus{
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-link{
    text-decoration: none;
}

.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
    color: #212121;
}

.project-decription{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;    
    color: #757575;
}

/* footer */

.footer-company-logo1 {
    color: #2196F3;
}

.footer-company-logo2 {
    color: white;
}

.footer-company-logo1,
.footer-company-logo2 {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer-contacts{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus{
    color: #2196F3;
}

.location {
    font-style: normal;
    color: white;
}

.footer {
    background-color: #2F303A;
}